<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
<h1>Ideas</h1>
<div id="ideas">
  <% @ideas.each do |idea| %>
  <% if idea.user == current_user %>
  <%= render idea %>
    <%=link_to "Read More", idea, :class => 'btn btn-primary'%>
  <% end %>
  <% end %>
</div>
<% else %>
<p>There are not any idea currently in the system.</p>
<% end %>
