<p style="color: green"><%= notice %></p>
<h1>Ideas</h1>
<div id="ideas">
  <% @ideas.each do |idea| %>
  <%= render idea %>
    <%=link_to "Read More", idea, :class => 'btn btn-primary'%>
  <% end %>
</div>
